# Ignore everything in the data folder
data/*

# But keep the data folder and subdirectories that lead to the data
!data/

# Keep the .gitkeep files in the test and train subdirectories
!data/test/.gitkeep
!data/train/.gitkeep

# Ignore all large data files in the artifacts directory
artifacts/*.pkl
artifacts/*.txt

# Allow specific important files in the artifacts directory
!artifacts/cnn_instrument_classifier.pth






*.DS_Store